.el-header {
    background-color: #aea2ca;
    color: #333;
    line-height: 60px;
    text-align: center;
}

.el-aside {
    color: #333;
}

.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #ebedf9;
}

.item {
    margin-top: 10px;
    margin-right: 15px;
}

.item1 {
    margin-top: 0px;
    margin-right: 15px;
}

.item2 {
    margin-top: 20px;
    margin-right: 10px;
}

.el-tag+.el-tag {
    margin-left: 10px;
}